img{
    height: 200px;
    border-radius: 30px;
    margin-left: 10%;
    
}


body{
    width:800px;
    margin-right: auto;
    margin-left : auto;
}


h1{
    text-align: center;
    margin-top: 10%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

div{
    display: flex;
    margin-top: 20%;
    
}

p{
    margin-left: 10%;
    font-family: "MS Pゴシック";
}


.ziko{
    text-align: center;
}


.skill{
    margin-top: 30%;
}


.skillnaka{
    margin-top: 5%;
    justify-content: space-evenly;
}


figure img{
    width: 100px;
    height: 100px;
}

figcaption{
    text-align: center;
}